@{
    ViewData["Title"] = "Home Page";
}

<div class="container">

    <div class="text-center">
        <h1 class="display-4">Super Farmer</h1>
        <p>How many players shall take part in the game?</p>
    </div>     
    
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">2 Players</h5>
              <p class="card-text">Click to start the game with 2 players.</p>
              <a href="/Home/StartGame/2" class="btn btn-primary">Start</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">3 Players</h5>
              <p class="card-text">Click to start the game with 3 players.</p>
              <a href="/Home/StartGame/3" class="btn btn-primary">Start</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">4 Players</h5>
              <p class="card-text">Click to start the game with 4 players.</p>
              <a href="/Home/StartGame/4" class="btn btn-primary">Start</a>
            </div>
          </div>
        </div>
      </div>
    </div>


</div>



