@{
    ViewData["Title"] = "Home Page";
}

<div class="container">

    <div class="text-center">
        <h1 class="display-4">Super Farmer</h1>
        <p>Ilu graczy ma wziąć udział w grze?</p>
    </div>     
    
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">2 Graczy</h5>
              <p class="card-text">Kliknij, aby rozpocząć grę z 2 graczami.</p>
              <a href="#" class="btn btn-primary">Start</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">3 Graczy</h5>
              <p class="card-text">Kliknij, aby rozpocząć grę z 3 graczami.</p>
              <a href="#" class="btn btn-primary">Start</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">4 Graczy</h5>
              <p class="card-text">Kliknij, aby rozpocząć grę z 4 graczami.</p>
              <a href="#" class="btn btn-primary">Start</a>
            </div>
          </div>
        </div>
      </div>
    </div>


</div>



